# THIS IS NOT AN EXHAUSTIVE LIST!
# use this file to override values in the other configs. 
# any value that is available in the configs can be overriden here
# just add the section ie: [tool_probe T0] and the value that is being overridden.  

# this file must be the last file to be included since values will be stored in the order they are
# received.  Klipper will take the last value and store that for the macros. 

[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[force_move]
enable_force_move: True

# z_offset is stored here for easier retrieval vs in T0.cfg.
[tool_probe T0]
z_offset: -0.85

[toolchanger]
params_safe_y: 166.5      # params_close_y + (Stealthburner thickness) + 10 = 41.5 + 115 + 10
params_close_y: 41.5      # Highest param_park_y + 30 (T1)
params_dropoff_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
params_pickup_path: [{'z':-10, 'y':16}, {'z':-10, 'y':0}, {'z':0, 'y':0, 'f':0.5, 'verify':1}, {'y':5.5, 'z':0}, {'y':9.5, 'z':2}, {'y':9.5 ,'z':4}]
#params_fast_speed: 30000 # Go as fast as we can
#params_path_speed: 1800  # slower on the path

# this section must be completed
[gcode_macro homing_override_config]
variable_sensorless_x: False
variable_sensorless_y: False
variable_homing_rebound_y: 20 # for sensorless you probably want this set to 20.
variable_stepper_driver: "tmc2209"
# variable_homing_current: 0.49

# M109 macro is overridden to allow some deadband on the temp
# default is +- 1 degree.  So if the set temp is 250 the the default
# deadband will be 249-251.  You can adjust this here:

#[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
#variable_default_deadband: 4.0

# uncomment this to automatically INITIALIZE_TOOLCHANGER
# when klipper starts. 
[delayed_gcode startup]
initial_duration: 1
gcode:
  INITIALIZE_TOOLCHANGER

# these values need to be set to match the location of your Calibration Switch
# [gcode_macro _CALIBRATION_SWITCH]
# variable_x: 227.471875
# variable_y: 353.703125
# variable_z: 5.00
# gcode:

#[tools_calibrate]
#pin:   #pin that your calibration probe is connected to.
#travel_speed: 20  # mms to travel sideways for XY probing
#spread: 7  # mms to travel down from top for XY probing
#lower_z: 1.0  # The speed (in mm/sec) to move tools down onto the probe
#speed: 2  # The speed (in mm/sec) to retract between probes
#lift_speed: 4  # Z Lift after probing done, should be greater than any Z variance between tools
#final_lift_z: 6 
#sample_retract_dist:2
#samples_tolerance:0.05
#samples:5
#samples_result: median # median, average
# Settings for nozzle probe calibration - optional.
#probe: probe # name of the nozzle probe to use
#trigger_to_bottom_z: 0.25 # Offset from probe trigger to vertical motion bottoms out. 
# decrease if the nozzle is too high, increase if too low.

[gcode_macro TOOL_ALIGN_TEST]
gcode:
    {% set curpos = printer.gcode_move.gcode_position %}
    {% if curpos[1] > 20 %}
      # Check if Y is not too far, to very unrealistic tests.
      RESPOND TYPE=error MSG='Test aborted. Tool too far away from the dock.'
    {% else %}
      INITIALIZE_TOOLCHANGER # Detect current tool
      SET_GCODE_OFFSET X=0 Y=0 Z=0
      STOP_TOOL_PROBE_CRASH_DETECTION
      SET_TOOL_PARAMETER PARAMETER='params_park_x' VALUE={curpos[0]}
      SET_TOOL_PARAMETER PARAMETER='params_park_y' VALUE={curpos[1]}
      SET_TOOL_PARAMETER PARAMETER='params_park_z' VALUE={curpos[2]}
      TEST_TOOL_DOCKING RESTORE_AXIS=XYZ
      STOP_TOOL_PROBE_CRASH_DETECTION
    {% endif %}
