# PRINT_START Macro
#
# Make sure to replace Printer Settings > Custom G-code > Start G-cocde with the following (for PrusaSlicer/SuperSlicer):
#
# M104 S0 ; Stops PS/SS from sending temp waits separately
# M140 S0
# PRINT_START BED=[first_layer_bed_temperature] EXTRUDER={first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} CHAMBER=[chamber_temperature] MATERIAL=[PLA|PETG|ABS|TPU|ASA] NO_MESH=[0|1]

[gcode_macro PRINT_START]
gcode:
    {% set BED = params.BED|default(65)|float %}                     # bed temperature target
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}            # synonym for BED
    {% set EXTRUDER = params.EXTRUDER|default(210)|float %}          # extruder temperature target
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}  # synonym for EXTRUDER
    {% set MATERIAL = params.MATERIAL|default("PLA")|string %}       # Material to print - PLA | PETG | ABS | TPU | ASA
    {% set CHAMBER = params.CHAMBER|default(0)|float %}              # Desired chamber minimum temp (set to 0 to ignore chamber temp)
    {% set NO_MESH = params.NO_MESH|default(0)|int %}                # Set to 1 to disable KAMP temporarily

    {% if (EXTRUDER_TEMP > 0) %}
	    {% set EXTRUDER = EXTRUDER_TEMP %}
    {% endif %}

    {% if (BED_TEMP > 0) %}
	    {% set BED = BED_TEMP %}
    {% endif %}

    M117 Start up...
    WAKEUP
    START_TEMP_MONITOR
    SET_CASELIGHT_ON
    STATUS_BUSY

    M117 Configuring for {MATERIAL}

    SET_FILAMENT_SENSOR SENSOR=filament_presence ENABLE=0
    {% if (MATERIAL == "PLA") %}
        underglow_set RED=0 GREEN=255 BLUE=0
    {% elif (MATERIAL == "PETG") %}
        underglow_set RED=0 GREEN=0 BLUE=255
    {% elif (MATERIAL == "ABS") %}
        underglow_set RED=255 GREEN=0 BLUE=0
    {% elif (MATERIAL == "TPU") %}
        underglow_set RED=255 GREEN=255 BLUE=0
    {% else %}
        underglow_set RED=255 GREEN=255 BLUE=255
    {% endif %}

    STATUS_HEATING
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED}    ; set bed temp
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150        ; set nozzle temp for probing -- needs to be hot enough to squish any filament on the nozzle
    M118 Heating extruder to 150C
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150             
    M118 Homing...
    STATUS_HOMING
    M300
    G21          ; set to mm
    M220 S100	 ; set print speed to 100%
    M221 S100	 ; set flow rate to 100%
    M107         ; disable fans
    G90          ; absolute positioning
    HOME_IF_NEEDED

    STATUS_HEATING
    M118 Heating bed to {BED}C
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED}    ; wait for bed temp         

    {% if CHAMBER > 0 %}
	M118 Waiting for chamber to reach {CHAMBER}C
	TEMPERATURE_WAIT SENSOR="temperature_sensor chamber_temp" MINIMUM={CHAMBER}
    {% endif %}

    STATUS_HOMING
    M118 QGL
    G32                                                 ; home

    {% if NO_MESH != 1 %}
        M118 Building mesh
        STATUS_MESHING
        BED_MESH_CALIBRATE
    {% else %}
        M118 Skipping mesh
    {% endif %}

    STATUS_HEATING
    M118 Heating extruder to {EXTRUDER}C...
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER} ; wait for extruder temp

    STATUS_PRINTING
    SET_SKEW XY=98.83,99.84,70.4
    M118 Purge Line
    M83                                                 ; extruder to relative mode
    G92 E0                                              ; Reset extruder
    SMART_PARK
    VORON_PURGE
    G92 E0
    M400		                                ; clear buffer
    UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
    M118 Printing
    SET_FILAMENT_SENSOR SENSOR=filament_presence ENABLE=1

