# PRINT_START Macro
#
# Make sure to replace Printer Settings > Custom G-code > Start G-cocde with the following (for PrusaSlicer/SuperSlicer):
#
# M104 S0 ; Stops PS/SS from sending temp waits separately
#M140 S0
# PRINT_START BED=[first_layer_bed_temperature] EXTRUDER={first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} CHAMBER=[chamber_temperature]

[gcode_macro PRINT_START]
gcode:
    {% set BED = params.BED|default(65)|float %}
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(210)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}
    {% set MATERIAL = params.MATERIAL|default("PLA")|string %}

    {% if (EXTRUDER_TEMP > 0) %}
	    {% set EXTRUDER = EXTRUDER_TEMP %}
    {% endif %}

    {% if (BED_TEMP > 0) %}
	    {% set BED = BED_TEMP %}
    {% endif %}

    WAKEUP

    M118 Configuring for {MATERIAL}

    {% if (MATERIAL == "PLA") %}
        underglow_set RED=0 GREEN=255 BLUE=0
    {% elif (MATERIAL == "PETG") %}
        underglow_set RED=0 GREEN=0 BLUE=255
    {% elif (MATERIAL == "ABS") %}
        underglow_set RED=255 GREEN=0 BLUE=0
    {% elif (MATERIAL == "TPU") %}
        underglow_set RED=255 GREEN=255 BLUE=0
    {% else %}
        underglow_set RED=255 GREEN=255 BLUE=255
    {% endif %}

    {% set intro_x = printer.configfile.config["stepper_x"]["position_max"]|float * 0.66 %}
    {% set min_x = printer.configfile.config["stepper_x"]["position_min"]|float * 0.1 %}
    {% set min_y = printer.configfile.config["stepper_y"]["position_min"]|float %}

    STATUS_BUSY
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=160        ; set extruder temp to 160 for QGL w/o oozing
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED}    ; set bed temp
    SET_FILAMENT_SENSOR SENSOR=filament_presence ENABLE=0
    M117 Start up...
    SET_CASELIGHT_ON
    G21          ; set to mm
    M220 S100	 ; set print speed to 100%
    M221 S100	 ; set flow rate to 100%
    M107         ; disable fans
    G90          ; absolute positioning
    M117 Pre-print park
    G28
    G0 X150 Y10 Z120 F10000
    M117 Preheating
    STATUS_HEATING
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED}    ; wait for bed temp         
    STATUS_READY
    M117 Homing & QGL
    G32                                                 ; home
    M117 Building mesh
    BED_MESH_CALIBRATE
    STATUS_HEATING
    M117 Heating to {EXTRUDER}C
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER}
    STATUS_PRINTING
    M117 Purge Line
    M83                                                 ; extruder to relative mode
    G92 E0                                              ; Reset extruder
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER} ; wait for extruder temp
    ADAPTIVE_PURGE
    G92 E0
    M400		                                ; clear buffer
    UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
    M117 Printing
    SET_FILAMENT_SENSOR SENSOR=filament_presence ENABLE=1
    
