# This file contains common pin mappings for the BIGTREETECH T0Can
# Canbus board. To use this config, the firmware should be compiled for the
# RP2040 with "USB" or "CAN bus (on gpio4/gpio5)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu T0Can]
# serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 5b24e623e1d0

[temperature_sensor T0_NTC]
sensor_type: Generic 3950
sensor_pin: T0Can:gpio28

[adxl345]
cs_pin: T0Can:gpio1
spi_software_sclk_pin: T0Can:gpio2
spi_software_mosi_pin: T0Can:gpio0
spi_software_miso_pin: T0Can:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 150, 150, 20
accel_chip: adxl345

[extruder]
step_pin: T0Can:gpio18
dir_pin: T0Can:gpio19
enable_pin: !T0Can:gpio17
rotation_distance: 47.088 # Galileo 2 Extruder
microsteps: 16
gear_ratio: 9:1
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: T0Can:gpio7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: T0Can:gpio27
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 300
min_extrude_temp: 5

# sensor_type: MAX31865
# sensor_pin: T0Can:gpio9
# spi_software_sclk_pin: T0Can:gpio10
# spi_software_mosi_pin: T0Can:gpio8
# spi_software_miso_pin: T0Can:gpio11
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: T0Can:gpio20
run_current: 0.600
sense_resistor: 0.110
# stealthchop_threshold: 999999

[fan]
pin: T0Can:gpio13

[heater_fan hotend_fan]
pin: T0Can:gpio14
heater: extruder
heater_temp: 50.0

# [fan_generic 4W_FAN0]
# pin: T0Can:gpio15
# tachometer_pin: T0Can:gpio12
# #tachometer_ppr: 1

[neopixel sb_leds]
pin: T0Can:gpio16
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

# [bltouch]
# sensor_pin: ^T0Can:gpio21
# control_pin: T0Can:gpio22

## NPN and PNP proximity switch types can be set by jumper
#[probe]
#pin: ^T0Can:gpio6

[probe]
##	Tap Probe
##  See https://github.com/VoronDesign/Voron-Tap/blob/main/config/tap_klipper_instructions.md for more information
pin: ~T0Can:gpio24
x_offset: 0
y_offset: 0
#z_offset: 6.42
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.025
samples_tolerance_retries: 5
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
